.blog {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 8px;
}
.blog h2 {
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.like {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    margin: 10px 0;
    cursor: pointer;
    color: var(--primary-text-color);
}
.liked {
    color: var(--primary-color);
}
.author {
    color: var(--secondary-text-color);
}